<h1>Listing payement_methods</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payement_methods.each do |payement_method| %>
      <tr>
        <td><%= payement_method.title %></td>
        <td><%= link_to 'Show', payement_method %></td>
        <td><%= link_to 'Edit', edit_payement_method_path(payement_method) %></td>
        <td><%= link_to 'Destroy', payement_method, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payement method', new_payement_method_path %>
