<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @expense.title %>
</p>

<p>
  <strong>Buying date:</strong>
  <%= @expense.buying_date %>
</p>

<p>
  <strong>Paying date:</strong>
  <%= @expense.paying_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@expense.category_id).title %>
</p>

<p>
  <strong>Beneficiary:</strong>
  <%= Beneficiary.find(@expense.beneficiary_id).title %>
</p>

<p>
  <strong>Payement method:</strong>
  <%= PayementMethod.find(@expense.payement_method_id).title %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
